<span style="font-family: verdana, geneva, sans-serif;"></span>
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aesthetic Pivotal Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='login_style.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="wrapper">
    <form action="" method="post">
      {{ register_form.csrf_token }}
      <h1>Register</h1>
      <div class="input-box">
        {{ register_form.email(class="form-control", placeholder="enter email") }}
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        {{ register_form.password(class="form-control", placeholder="Enter password") }}
        <!-- <span class="form-text">Enter password</span> -->
        <i class='bx bxs-lock-alt'></i>
      </div>

      <div class="input-box">
        {{ register_form.confirm_password(class="form-control", placeholder="Confirm password") }}
        <!-- <span class="form-text">Enter password</span> -->
        <i class='bx bxs-lock-alt'></i>
      </div>

      <button type="submit" class="btn">Register</button>

    </form>
  </div>
</body>