<span style="font-family: verdana, geneva, sans-serif;"></span>
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aesthetic Pivotal Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='login_style.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="wrapper">
    <form action="" method="post">
      {{ form.csrf_token }}
      <h1>Register</h1>
      <div class="input-box">
        {{ form.email(class="form-control", placeholder="enter email") }}
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        {{ form.password(class="form-control", placeholder="Enter password") }}
        <!-- <span class="form-text">Enter password</span> -->
        <i class='bx bxs-lock-alt'></i>
      </div>

      <div class="input-box">
        {{ form.confirm_password(class="form-control", placeholder="Confirm password") }}
        <!-- <span class="form-text">Enter password</span> -->
        <i class='bx bxs-lock-alt'></i>
      </div>

      <button type="submit" class="btn">Register</button>

      <div class="register-link">
        <p>Don't have an account? <a href="{{url_for('register')}}"> Register</a></p>
      </div>
    </form>
  </div>
</body>

<!-- 
<div class="container-sm mt-2">
<form class="row g-3" method="post">
    {{ form.csrf_token }}
    <div class="col-auto">
      {{ form.email(class="form-control") }}
      <div id="usernamehelp" class="form-text">Enter email</div>
    </div>
    <div class="col-auto">
      {{ form.password(class="form-control") }}
      <div id="passwordhelp" class="form-text">Enter password</div>
    </div>
    <div class="col-auto">
      {{ form.confirm_password(class="form-control") }}
      <div id="passwordconfirm" class="form-text">Confirm password</div>    
    <div class="col-auto"> <button type="submit" class="btn btn-primary">Submit</button> </div>
  </form>
</div> -->